[Desktop Entry]
Name=Journal
GenericName=Journal
Comment=Text editor for Solus.
Categories=GTK;TextEditor;Utility;
Exec=journal %F
Icon=journal
Terminal=false
Type=Application
MimeType=text/plain;
X-GNOME-Gettext-Domain=journal
X-GNOME-Keywords=Solus;Journal;Text;Editor;
