[Desktop Entry]
Name=Journal
GenericName=Journal
Comment=Text editor for Evolve OS.
Categories=GTK;TextEditor;Development;Utility;
Exec=journal %F
Icon=journal
Terminal=false
Type=Application
MimeType=text/plain;
X-GNOME-Gettext-Domain=journal
X-GNOME-Keywords=Evolve;Journal;Text;Editor;