[Desktop Entry]
Name=Journal
GenericName=Journal
Comment=Text editor for Evolve OS.
Categories=GTK;Utility;TextEditor;
Exec=evolve-journal
Icon=accessories-text-editor
Terminal=false
Type=Application
MimeType=text/plain;
X-GNOME-Gettext-Domain=evolve-journal
X-GNOME-Keywords=Evolve;Journal;Text;Editor;